body {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Lucidatypewriter", Lucidatypewriter, monospace;
    background-color: #2c2e3b;
  }
  
  article {
    padding:0 1em;
  }
  
  section{
    margin: 1em;
    padding: 1em;
    display:grid;
  }
  
  header, main, footer {
    margin: 0 auto;
  }
  
  header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% auto 30px;
    column-gap:10px;
    padding: 2em;
    text-align: center;
    background-color: #242531;
   
    
  }
  
  header section {
    margin: 0 auto;
  }
  
  header img { 
    
    width: 250px;
    height: auto;
    float: right;
  
  }
  .myImage{
    grid-row: 1/span 3;
    margin-top:  auto;
    margin-bottom:  auto;
  }
  
  h1 {
    margin: 1em 0;
    color: #01ffff;
    grid-column: 2;
    grid-row: 1/ span 1;
    
  }
  header section p{
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    font-size: 17px;
  }
  header p{
    color: #8f8ef0;
  }
  .linksAdd{
    grid-column: 2;
    
  }
  .linksAdd a{
    text-decoration: none;
    color: #01ffff;
    
    padding: 10px;
  }
  .linksAdd a:hover{
    opacity: 50%;
  }

  main p {
    color: #8f8ef0;
  }
  
  main {
    max-width: 1140px;
    color: #8f8ef0;
    
  }

  h3 {
    color: #01ffff;
    margin-block-start: 0;
    text-transform: uppercase;
  }
  
  .education .school span {
    color: #ff6d9c;
    text-decoration: underline;
  }
  .education .school{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 200px auto;
  }
  .education .description{
    padding-left: 200px;
    font-size: 15px;
    color:#c2a9f1;
  }

  .skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  section ul {
    list-style-type: square;
  }
  .lighted
  {
    color:#ff6d9c;
  }


  footer {
   padding: 1em;
   color:#8f8ef0;
   text-align: right;
  }

  footer a{
    text-decoration: none;
    color: #ff6d9c;
    
  }
  footer a:hover{
    opacity: 50%;
  }

  .listSkills{
    color: #c2a9f1;
  }
  .projects{
    display: grid;
    grid-template-columns: 200px auto;
  }

  .projects .projectInfo{
    grid-column: 2;
    color: #c2a9f1;
  }
  .projects span{
    color: #ff6d9c;
    text-decoration: underline;
  }
  .listInterests{
    list-style-type: none;
  }
  @media all and (max-width: 820px){
    header,
    section, 
    .skills,
    .education .school
    {
      display: block;
    }
    header img {
      width: 250px;
      height: auto;
    }
    h1{
      margin: 0;
    }
    header img{
      float:none;
    }
    .education .description{
      padding-left: 0;
    }
    
  }

  @media all and (max-width: 420px){
    .skills{
      display:block;
    }
  }